<?php
// preparation du tableau d'options
$version = explode(',',getenv('APPNAME_VERSION'));
?>
[client]
user		= root
password	=
socket		= <?php echo getenv('APPNAME_HOME') ?>/var/run/mysql.sock

[mysqld_safe]
socket		= <?php echo getenv('APPNAME_HOME') ?>/var/run/mysql.sock
nice		= 0

[mysqld]
old_passwords	= false
user		= <?php echo getenv('APPNAME_USER') ?> 
pid-file	= <?php echo getenv('APPNAME_HOME') ?>/var/mysql.pid
socket		= <?php echo getenv('APPNAME_HOME') ?>/var/run/mysql.sock
port		= <?php echo getenv('APPNAME_MYSQL_PORT') ?> 
basedir		= /usr
datadir		= <?php echo getenv('APPNAME_HOME') ?>/var/mysql
tmpdir		= <?php echo getenv('APPNAME_HOME') ?>/tmp
language	= /usr/share/mysql/english
skip-external-locking

bind-address   = <?php echo getenv('APPNAME_MYSQL_LISTEN_INTERFACE') ?> 

key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 128K
thread_cache_size	= 8

query_cache_limit	= 1048576
query_cache_size        = 16777216
query_cache_type        = 1

<?php if (in_array('dev',$version)) { ?>
# Be aware that this log type is a performance killer.
log              = <?php echo getenv('APPNAME_HOME') ?>/log/mysql.access.log
<?php } ?>
log-error        = <?php echo getenv('APPNAME_HOME') ?>/log/mysql.error.log
log_slow_queries = <?php echo getenv('APPNAME_HOME') ?>/log/mysql.slowqueries.log

# The following can be used as easy to replay backup logs or for replication.
#server-id  = 1
#log_bin    = <?php echo getenv('APPNAME_HOME') ?>/log/mysql-bin.log
#expire_logs_days	= 10
#max_binlog_size         = 100M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

skip-bdb
#skip-innodb

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M
