# CGI:IRC configuration file.
#
# Check /usr/share/doc/cgiirc/examples/cgiirc.config.full.gz
# for more details.
# Take care about applying debian-specific settings like
# `image_path' if you intend to just copy it!


<?php
$i = getenv('APPNAME_IRCDRATBOX_LISTEN_INTERFACE');
$i = ($i == '0.0.0.0') ? 'localhost' : $i;
?>

default_server = <?php echo $i; ?> 
default_port = <?php echo getenv('APPNAME_IRCDRATBOX_LISTEN_PORT') ?> 
default_channel = #cgiirc
default_name = CGI:IRC User
default_nick=CGI???

allow_non_default = 1
access_channel = .*

# Don't change these, they're specific to Debian:
image_path = /images/cgiirc
# -----------------------------------------------

script_nph = nph-irc.cgi
script_form = client-perl.cgi
script_login = irc.cgi

ip_access_file = ipaccess

# ne fonctionne pas, impossible de poster des messages avec cette option
#socket_prefix = <?php echo getenv('APPNAME_HOME') ?>/tmp/cgiirc-