# CGI:IRC configuration file.
#
# Check /usr/share/doc/cgiirc/examples/cgiirc.config.full.gz
# for more details.
# Take care about applying debian-specific settings like
# `image_path' if you intend to just copy it!

default_server = localhost
default_port = 45622
default_channel = #cgiirc
default_name = CGI:IRC User
default_nick=CGI???

# Don't change these, they're specific to Debian:
image_path = /images/cgiirc
# -----------------------------------------------

script_nph = nph-irc.cgi
script_form = client-perl.cgi
script_login = irc.cgi

ip_access_file = ipaccess
